<!-- @dsCard group="Components" viewport="700x300" name="Link CTA Cards" subtitle="4px黒枠・黒帯タイトルのナビカード" -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
</head>
<body style="margin:0;padding:16px;background:#fff;">
<div id="root"></div>
<script type="text/babel">
const { LinkCtaCards } = window.DesignSystem_8a2dbb;
ReactDOM.createRoot(document.getElementById('root')).render(
  <LinkCtaCards items={[
    { title: '学校案内', description: '神山まるごと高専の教育理念、カリキュラム、教員紹介。', image: '../../assets/img/about.jpg' },
    { title: '入試情報', description: '2027年度入試の概要と出願方法はこちらから。', linkText: '入試情報を見る' },
  ]} />
);
</script>
</body>
</html>
